@model Project_Webapplicaties.ViewModels.LineUpListViewModel
    <div class="title-box">
        <h2 class="title">Line-up</h2>
    </div>
<br />
<div class="info-box">
    <div class="ticket-table">
        <table>
            <thead>
                <tr>
                    <th class="col-md-4">
                        @Html.DisplayNameFor(model => model.artiesten[0].Naam)
                    </th>
                    <th class="col-md-4">
                        @Html.DisplayNameFor(model => model.artiesten[0].Genre)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.artiesten)
            {
                <tr>
                    <td class="col-md-4">
                        @item.Naam
                    </td>
                    <td class="col-md-4">
                        @item.Genre
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>