<div class="title-box">
    <h1 class="title">Defqon.1</h1>
</div>

<div class="img-box">
    <img class="banner" src="~/Images/Banner.jpg" />
</div>

<div>
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">Line-up</h4>
            </div>
            <div class="card-body">
                <p>Check out the line-up below!</p>
            </div>
            <div class="card-footer">
                <button onclick="window.location = 'https://localhost:44359/LineUP'" class="card-button">Line-up</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">Timetable</h4>
            </div>
            <div class="card-body">
                <p>Check the timetable down here!</p>
            </div>
            <div class="card-footer">
                <button onclick="window.location = 'https://localhost:44359/TimeTable'" class="card-button">Timetable</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">Tickets</h4>
            </div>
            <div class="card-body">
                <p>Get your tickets here!</p>
            </div>
            <div class="card-footer">
                <button onclick="window.location = 'https://localhost:44359/Ticket' " class="card-button">Tickets</button>
            </div>
        </div>
    </div>
</div>

    <div class="info-box">
        <h3 class="info-title">General information</h3>
        <p class="info-text">June 23rd - June 26th 2022</p>
        <p class="info-text">Spijkweg 30, Biddinghuizen, Netherlands</p>
    </div>
        